body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    text-align: center;
    margin: 0;
}

#game-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
}

#mode-selector {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
}

.choice {
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease-in-out;
}

.choice:hover {
    background-color: #2980b9;
}

#result, #multiplayer-result {
    font-size: 1.2em;
    margin-top: 20px;
    transition: color 0.5s ease-in-out;
}

#result.winner, #multiplayer-result.winner {
    color: #27ae60; /* Green color for winner */
}

#result.loser, #multiplayer-result.loser {
    color: #e74c3c; /* Red color for loser */
}

.hidden {
    display: none;
}
